<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
</head>
<body>

<p>Form</p>

<form action="/submit" method="post">
    <label>Name</label>
    <input type="text" name="name" placeholder="Enter your name"><br>

    <label>Email</label>
    <input type="email" name="email" placeholder="Enter your email"><br>

    <input type="submit" value="Submit">
</form>

</body>
</html>
